%p
	Alacaklı : #{record.contact.name}
%p
	Borç Bedeli : #{record.value} TL
%p
	Faiz Oranı(aylık) : #{record.bank_rate}%
%p
	Faiz Sonrası : #{record.get_total_value} TL
%p
	Due Date : #{record.due_date.nil? ? "#" : localize(record.due_date, :format => "%d %B %Y")}
%p
	Oluşturulma Zamanı : #{localize(record.created_at, :format => "%d %B %Y Saat %H:%M:%S")}
%p
	Not : #{record.note}

%div
	-if record.is_active? && !record.due_date.nil? && record.due_date < Time.zone.now
		%p
			Borcunu ödemeyi taahhüt ettiğin süre dolmuş. En kısa sürede ödeme yap.
	-elsif !record.is_active?
		%p
			Borcunu ödemişsin.
	-elsif !record.due_date.nil?
		%p
			Borcunun son ödeme tarihine daha #{distance_of_time_in_words(Time.zone.now, record.due_date)} var
	-else
		%p
			Borcun halen aktif fakat son ödeme tarihi girilmemiş.